@import "bootstrap.less";

footer {
  background-color: @footerBackground;
  padding: 1ex;
  text-align: right;
  .border-radius(6px);
}

@navbarBackground: #535353;
@bodyBackground:   #f1f1f1;
@textColor:        @black;

@heroUnitBackground: @white;
@footerBackground:   #d8d8d8;


